@font-face {
    font-family: Quiapo;
    src: url(rss/fonts/Quiapo_Free.otf);
}
@font-face {
    font-family: Maragsa;
    src: url(rss/fonts/Maragsâ-Display.otf);
}


*{
    margin: 0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #201b15;
}
.header-logo{
    width: 350px;
    height: auto;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #201b15;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.body-logo{
    margin-top: 300px;
    width: 200px;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    margin-top: 20px;
    font-size: 125px;
    font-family: Quiapo;
    color: #efe1ba;
}
.text-box #one{
    font-size: 40px;
    font-family: Maragsa;
    color: #d79922;
}
.text-box #two{
    font-size: 40px;
    font-family: Maragsa;
    color: #efe1ba;
}
.text-box #three{
    margin-top: 50px;
    font-size: 40px;
    font-family: Maragsa;
    color: #efe1ba;
}
.search-box{
    height: 50px;
    width: 600px;
    margin:  650px auto 0;
    border-bottom: 3px solid #d79922;
}
.row{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #d79922;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: #447ff5;
    font-size: 25px;
    cursor: pointer;
}

::placeholder{
    color: #efe1ba;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #3366cc;
}

.text-box-one{
    text-align: center;
}

.text-box-one #four{
	margin-left: 100px;
	font-size: 40px;
    font-family: Maragsa;
    color: #d79922;
}

.text-box-one #five{
	text-align: justify;
	font-size: 40px;
    font-family: Quiapo_Free;
    color: ##201B15;
	text-align: center;
}
.body-one{
    min-height: 100vh;
    width: 100%;
    background-color: #efe1ba;
	padding-bottom: 50px;
}

.main-body{
	text-align: center;
	height: auto;
	width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
	width: 1500px;
    height: auto;
}

.body-two{
    min-height: 100vh;
    width: 100%;
    background-color: #d79922;
}

.sub-body{
	text-align: center;
	height: auto;
	width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users-icon{
	margin-top: 100px;
	width: 175px;
    height: 175px;
	display: block;
}

.text-box-two{
    margin-top: 75px;
    text-align: center;
}

.text-box-two #six{
    font-size: 125px;
    font-family: Quiapo;
    color: #black;
	text-align: center;
	height: auto;
	width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box-two #seven{
	font-size: 40px;
    font-family: Maragsa;
	color: #201B15;	
}

.text-box-two #eight{
	font-size: 40px;
    font-family: Maragsa;
    color: #efe1ba;
}

.text-box-two #nine{
	font-size: 40px;
    font-family: Maragsa;
	color: #201B15;	
}

.body-three{
	min-height: 20vh;
    width: 100%;
    background-color: #201B15;
	padding-bottom: 20px;
}

.footer-container{
      display: flex;
	  justify-content: space-between;
	  align-items: center;
}

 .footer-logo{
	width: 350px;
	height: auto;
	margin-top: 5vh;
	margin-left: 2vh;
 }

.pinkshark-logo{
	width: 150px;
	height: 100px;
	margin-top: 5vh;
}
	
.language-selector{
	width: 350px;
	height: 100px;
	margin-top: 5vh;
}

.copy-right{
	font-size: 20px;
	color: #FFFFFF;	
	text-align: center;
}


	  
	  