@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Quiapo;
    src: url("../fonts/Quiapo_Free.otf");
}

@font-face {
    font-family: Maragsa;
    src: url("../fonts/Maragsâ-Display.otf");
}

@font-face {
    font-family: FA-Regular;
    src: url(".../fonts/fa-regular-400.ttf");
}